body {
    background-image: url(https://tonyc417.github.io/Basic-Portfolio/images/vintage_speckles.png);
    height: 100%;
    margin: 0;
    overflow: auto;
}


.logo {
    position: fixed;
    float: left;
    background: #4aaaa5;
    margin-left: 280px;
    margin-top: 0px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-size: 32px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.clearfix::after {
    content: " ";
    clear: both;
    display: table;
}

.top-nav {
    overflow: hidden;
    background: white;
    border-bottom: 2px solid #777777;
}

li {
    float: right;
    color: #777777;
    padding-right: 100px;
    padding-bottom: 40px;
    display: inline;
    font-size: 17px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


a {
    color: inherit;
    text-decoration: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
    color: #777777;
    border-top: 8px solid #4aaaa5;
}

.form {
    float: left;
    width: 50%;
    color: #333;
    margin-left: 280px;
    margin-top: 40px;
    height: 300px;
    padding: 75px 25px;
    background-color: white;
    
}

.messagebox {
    width: 505px;
    height: 100px;
}

.boxtitle {
    position: fixed;
    margin-left: 300px;
    margin-top: 50px;
    color: #4aaaa5;
    font-size: 29px;
    width: 44%;
    padding: 10px 0px;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    border: none;
    padding: 8px 25px;
}

input[type=text] {
    width: 505px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif
}

.column {
    float: left;
    width: 12%;
    margin-top: 80px;
    margin-left: 215px;
    margin-right: -10px;
    padding: 5px 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.column:hover {
    cursor: pointer;
}

.row {
    float: left;
    background-color: white;
    height: 600px;
    margin-top: 50px;
    margin-left: 210px;
    margin-right: 180px;
}

.overlay {
    position: absolute;
    top: 290px;
    bottom: 0;
    left: 435px;
    right: 0;
    height: 4%;
    width: 126px;
    background-color: #4aaaa5;

}

.text {
    color: white;
    position: absolute;
    top: 40%;
    left: 32%;
    text-align: center;
}

.overlay2 {
    position: absolute;
    top: 290px;
    bottom: 0;
    left: 786px;
    right: 0;
    height: 4%;
    width: 126px;
    background-color: #4aaaa5;

}

.overlay3 {
    position: absolute;
    top: 510px;
    bottom: 0;
    left: 435px;
    right: 0;
    height: 4%;
    width: 126px;
    background-color: #4aaaa5;

}

.overlay4 {
    position: absolute;
    top: 510px;
    bottom: 0;
    left: 786px;
    right: 0;
    height: 4%;
    width: 126px;
    background-color: #4aaaa5;

}

@media only screen and (max-width: 980px) {

.logo {
     margin-left: 30px;
}
    
.form {
    margin-left: 30px;
}
    
.boxtitle {
     margin-left: 40px;
}

}

@media only screen and (max-width: 768px) {

li {
    padding-right: 20px;
}

.logo {
    padding: 20px;
    margin-left: 20px;
} 

.form {
    width: 70%;
}

}

@media only screen and (max-width: 640px) {

